footer{ 
    height: 15vh;
    width: 100vw;
    display: flex;
    position: relative;
    overflow-x: hidden;
    color: $transparentWhite;
    background-color: $green;

    aside{
        height: 100%;
        width: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 50;
        left: 0%;
        font-size: 1.5em;
        font-weight: bold;
        background-color: $red;

        transition: font-size 1s ease;

        &:hover {
            color: white;
            font-size: 2.5em;
        }

        &:last-of-type{
           left: 95%; 
        }
    }

    .dayContainer{
        height: 10vh;
        margin: 1vh 5vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        transition: left 1.5s ease-in-out;

        article{
            height:80%;
            width: 20vw;
            margin: 0 2.5vw;

            figure{

                display: flex;
                justify-content: center;
                margin: 2vh 0;

                img{
                    max-width: 20%;
                    transition: max-width 1s ease-in-out;

                    &:hover{
                        max-width: 25%;
                    }
                }

            }  

            h4{
                font-weight: bold;
                width: 100%;
                text-align: center;
                transition: font-size 1s ease-in-out;

                &:hover{
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
    }
}

